#	File base provided by octocat
#	https://gist.github.com/octocat/9257657
#

# Compiled source #
###################
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Platform/OS file system junk
.DS_Store
Thumbs.db

# Meson folders
build/*
_build/*
install/*
_install/*
subprojects/*/
!/subprojects/*.wrap

# Ignore files for other services
.dockerignore
.megaignore

# Meson files
build/*
_build/*
install/*
_install/*
subprojects/*/
!/subprojects/*.wrap

# Project specific files #
##########################
# Project temp and trash folders
scratch/*
_scratch/*
Makefile.*
